.container {
  display: flex;
  Justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: rgb(88, 161, 81);
  background-color: transparent;
  border-radius: 10px;
  font-size: 32pix;
  text-align: center;
}

form {
  display: flex;
  gap: 30px;
  padding: -7 vmin;
  border-radius: 10px;
  background-color: transparent;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  input {
    display: flex;
    padding: 2%;
  }



}

.enviar {
  border-radius: 30px;
  background-color: rgb(96, 134, 168);
  color: rgb(235, 242, 248);
  height: 30px;
  margin-top: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.enviar:hover {
  opacity: 0.8;
  color: red;
}

.nome {
  border: 1px solid #48456c;
  border-radius: 30px;
  padding: 25px;
  height: 40px;
  background-color: #f9f9fc;
  outline: none;
}

.menssage {
  display: flex;
  border: 1px solid #f8f8fc;
  border-radius: 7px;
  height: 50px;
  width: 300px;
  margin-top: 9px;
  padding: 30px;
  background-color: #f5f5f8;
  outline: none;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 237, 241);
  margin: 10px;
  padding: 2px;
  width: 400px;
  border-radius: 7px;

  & p {
    color: #71aa14;
    font-weight: bold;
    text-transform: capitalize;
  }

  & span {
    font-weight: normal;
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.5;
  }

}

.cadastrar {
  display: flex;
  margin-top: 9px;
  background-color: #0e0729;
  border-radius: 9px;
  color: #f4f4fa;

  &:hover {
    color: #48456c;
    cursor: pointer;
    opacity: 0.5;
  }
}

.trocar-nome{
    display: flex;
    border-radius: 8px;
    background-color: #48456c;
    color: #ededf3;

    &:hover{
      color: rgb(10, 19, 0);
      cursor: pointer;
      opacity: 0.5;
    }
  }