/* ===================== CONTAINER ===================== */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 12px;
  background-color: #ece5dd;
  box-sizing: border-box;
}

/* ===================== CHAT ===================== */
.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  overflow-y: auto;
  flex: 1;
}

/* ===================== WRAPPER ===================== */
.message-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.message-wrapper.mine {
  align-self: flex-end;
}

.message-wrapper.other {
  align-self: flex-start;
}

/* ===================== BUBBLE ROW ===================== */
.bubble-row {
  display: flex;
  align-items: center;
  gap: 6px;
  /* espaço entre mensagem e lixeira */
}


/* ===================== BALÃO ===================== */
.card {
  max-width: 100%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 14px;
  word-break: break-word;
}

.card.mine {
  background-color: #dcf8c6;
  border-bottom-right-radius: 4px;
}

.card.other {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
}

/* ===================== DELETE ===================== */
.delete {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.6;
  padding: 0px;
  display: flex;
  align-items: center;
}

.delete:hover {
  opacity: 1;
  transform: scale(1.15);
}


.delete:active {
  transform: scale(1.2);
}

/* ===================== NOME ===================== */
.user-name {
  font-size: 12px;
  font-weight: bold;
  color: #128c7e;
  display: block;
  margin-bottom: 3px;
}

/* ===================== TEXTO ===================== */
.text {
  line-height: 1.4;
}

/* ===================== HORA ===================== */
.time {
  font-size: 11px;
  color: #666;
  margin-top: 3px;
}

/* ===================== INPUT ===================== */
.input-area {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.menssage {
  flex: 1;
  border-radius: 20px;
  padding: 12px;
  border: none;
  outline: none;
}

.enviar {
  background: #128c7e;
  color: #fff;
  border-radius: 20px;
  padding: 0 10px;
  border: none;
}

.enviar:hover {
  cursor: pointer;
  color: #68ca1c;
}