.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: rgb(78, 78, 206);
  background-color: rgb(243, 246, 247);
  border-radius: 10px;
  font-size: 32pix;
  text-align: center;
}

form {
  display: flex;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(78, 14, 199);
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  

}

.enviar{
    border-radius: 30px;
    background-color: rgb(2, 49, 10);
    color: aliceblue;
    height: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .enviar:hover {
    opacity: 0.8;
    color: red;
  }

.nome {
  border: 1px solid #48456c;
  border-radius: 30px;
  height: 40px;
  background-color: #dcdce9;
  outline: none;
}

.menssage {
  display: flex;
  border: 1px solid #48456c;
  border-radius: 2px;
  height: 50px;
  background-color: #dcdce9;
  outline: none;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #198f1f;
  margin: 10px;
  padding: 2px;
  width: 400px;
  border-radius: 10px;

  & p {
    color: #9df809;
    font-weight: bold;
  }

  & span {
    font-weight: normal;
  }

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.5;
  }
}