* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(192, 190, 199));
}

@media(max-width: 800px) {


  body {
    max-width: 800px;
    height: auto;
  }

  form {
    max-width: 800px;
    height: auto;
  }

  .enviar {
    max-width: 800px;
    height: auto;
  }
}