* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #01000e;
}

/* =====================
   MOBILE
===================== */

@media (max-width: 750px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #010005;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 100%;
  }

  form {
    display: flex;
    gap: 5px;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    max-width: 100%;
    width: 309px;
    margin-bottom: 40px;
  }

  /* CHAT */
  .card {
    max-width: 85%;
    padding: 10px;
    margin: 4px 0;
    border-radius: 12px;
  }

  .card.mine {
    align-self: flex-end;
    background-color: #dcf8c6;
    text-align: right;
  }

  .card.other {
    align-self: flex-start;
    background-color: rgb(246, 248, 250);
    text-align: left;
  }

  .enviar {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    background-color: rgb(96, 134, 168);
    color: rgb(235, 242, 248);

    height: 40px;
    min-width: 90px;
    padding: 0 20px;

    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s ease;
  }

  .enviar:hover {
    opacity: 0.85;
    transform: scale(1.05);
    color: #fff;
  }


  .menssage {
    border: 1px solid #ededf3;
    border-radius: 20px;
    height: 50px;
    background-color: #f4f4fa;
    outline: none;
    padding: 15px;
    width: 220px;
    margin-top: 9px;
  }

  .nome {
    border: 1px solid #48456c;
    border-radius: 30px;
    padding: 15px;
    height: 35px;
    width: 150px;
    background-color: #fdfdff;
    outline: none;
    margin-top: 9px;
  }

  .cadastrar {
    margin-top: 9px;
    background-color: #0e0729;
    border-radius: 9px;
    color: #f4f4fa;
    border: none;
    padding: 6px 10px;
  }

  .cadastrar:hover {
    color: #48456c;
    cursor: pointer;
    opacity: 0.5;
  }

  .trocar-nome {
    border-radius: 8px;
    background-color: #48456c;
    color: #ededf3;
    padding: 6px 10px;
    border: none;
  }

  .trocar-nome:hover {
    color: rgb(10, 19, 0);
    cursor: pointer;
    opacity: 0.5;
  }
}