* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {

  min-height: 100vh;
  width: 100vw;
  background-color: #01000e;
  align-self: flex-end;
}


@media(max-width:750px) {


  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    width: 100vw;
    background-color: #010005;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 4%;
  }

  form {
    display: flex;
    gap: 5px;
    padding: -7 vmin;
    border-radius: 10px;
    background-color: transparent;
    max-width: 100%;
    width: 309px;
    margin-bottom: 40px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 248, 250);
    margin: 9px;
    padding: 9px;
    width: 250px;
    border-radius: 7px;
    margin-top: 1px;

  }

  .enviar {
    border-radius: 30px;
    background-color: rgb(96, 134, 168);
    color: rgb(235, 242, 248);
    height: 30px;
    width: 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 9px;
  }

  .menssage {
    display: flex;
    border: 1px solid #ededf3;
    border-radius: 7px;
    height: 50px;
    background-color: #f4f4fa;
    outline: none;
    padding: 20px;
    width: 220px;
    margin-top: 2px 5px;
    margin-top: 9px;
  }

  .nome {
    border: 1px solid #48456c;
    border-radius: 30px;
    padding: 20px;
    height: 30px;
    width: 150px;
    background-color: #fdfdff;
    outline: none;
    margin-top: 2px 5px;

  }

  .cadastrar{
    display: flex;
    margin-top: 9px;
    background-color: #0e0729;
    border-radius: 9px;
    color: #f4f4fa;
  }

  .cadastrar:hover{
    color: #48456c;
    cursor: pointer;
    opacity: 0.5;
  }

  .trocar-nome{
    display: flex;
    border-radius: 8px;
    background-color: #48456c;
    color: #ededf3;

    &:hover{
      color: rgb(10, 19, 0);
      cursor: pointer;
      opacity: 0.5;
    }
  }

}